<!-- ****************NAVBAR**************** -->
<nav class="text-center navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-center">Sopa de letras</a>
</nav>

<!-- *******************FORMULARIO******************* -->
<div class="container">

    <div class="mt-2" align="right">
        <button class="btn btn-outline-success" (click)="limpiar()">
        <i class="fas fa-trash-alt"></i>
        Limpiar
        </button>
    </div>

    <form action="/action_page.php" [formGroup]="sopaForm">
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="mr-1">Renglones</label>
                    <input type="text" class="col-sm-2 form-control" placeholder="6" formControlName="ren" [ngClass]="{ 'is-invalid':
                    sopaForm.get('ren')?.touched && sopaForm.get('ren')?.invalid }">
                    <small class="invalid-feedback" animated fadeIn>
                    El valor mínimo es 5
                </small>
                </div>
            </div>
            <div class="col">
                <div class="form-group row">
                    <label class="mr-1">Columnas </label>
                    <input type="text" class="col-sm-2 form-control" placeholder="6" formControlName="col" [ngClass]="{ 'is-invalid':
                    sopaForm.get('col')?.touched && sopaForm.get('col')?.invalid }">
                    <small class="invalid-feedback" animated fadeIn>
                    El valor mínimo es 5
                </small>
                </div>
            </div>

        </div>


        <div class="form-group">
            <label>Palabras a buscar</label>
            <input type="text" class="form-control" placeholder="DAMA,ARROZ,ETC,ETC" formControlName="palabras" [ngClass]="{ 'is-invalid':
            sopaForm.get('palabras')?.touched && sopaForm.get('palabras')?.invalid }">
            <small class="invalid-feedback" animated fadeIn>
                Debes ingresar palabras separadas por , (coma) sin espacios
            </small>
        </div>

        <div class="form-group">
            <label>Matriz de letras</label>
            <textarea class="form-control" rows="6" placeholder="BCDAMA
ODAMAS
CASJUY
LARROZ
ASDASD
KLSOOD" formControlName="sopa" [ngClass]="{ 'is-invalid':
                sopaForm.get('sopa')?.touched && sopaForm.get('sopa')?.invalid }">
            </textarea>
            <small class="invalid-feedback" animated fadeIn>
                Debes ingresar los renglones separados por enter (salto de línea) sin carácteres especiales
            </small>
        </div>
        <div class="text-center">
            <button class="btn btn-outline-danger" (click)="resolver()">
                <i class="fas fa-sparkles"></i>
                RESOLVER
            </button>
        </div>

    </form>
</div>

<pre>
    value:{{ sopaForm.value | json }}
</pre>

<app-loading class="m-5" *ngIf="cargando"></app-loading>

<!-- *******************TABLA******************* -->
<!-- <div class="container mt-5">
    <table class="table table-sm table-dark">
        <tbody>
            <tr>
                <td>B</td>
                <td>C</td>
                <td>D</td>
                <td>A</td>
                <td>M</td>
                <td>A</td>
            </tr>
            <tr>
                <td>O</td>
                <td>D</td>
                <td>A</td>
                <td>M</td>
                <td>A</td>
                <td>S</td>
            </tr>
            <tr>
                <td>C</td>
                <td>A</td>
                <td>S</td>
                <td>J</td>
                <td>U</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>L</td>
                <td>A</td>
                <td>R</td>
                <td>R</td>
                <td>O</td>
                <td>Z</td>
            </tr>
            <tr>
                <td>A</td>
                <td>S</td>
                <td>D</td>
                <td>A</td>
                <td>S</td>
                <td>D</td>
            </tr>
            <tr>
                <td>K</td>
                <td>L</td>
                <td>S</td>
                <td>O</td>
                <td>O</td>
                <td>D</td>
            </tr>
        </tbody>
    </table>
</div> -->